body{
    background-image: url('../finalbg.jpg');
    
}
.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1px;
    margin-top: 2px;
    font-size: 2rem;
}
.sub-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 4px;
    font-size: 2rem;
}

.error-box{
    border-color: red;
    border-radius: 12px;
    border-width: 3.5px;
    margin: 10px;
    padding: 8px;
}



.normal-box{
    border-radius: 12px;
    border-width: 3.5px;
    margin: 10px;
    padding: 8px;
    border-color: blueviolet;

}
input{
    font-size: 1.8rem;
}

.form-box{
    background-clip: content-box;
    border-radius: 1em;
    background: rgb(125, 63, 206);
    padding: 1em;
    margin-left: 30rem;
    margin-right: 30rem;
}
button{
    border-color: blueviolet;
    border-radius: 6px;
    border-width: 0.1.5px;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 214, 31);
}
button:hover{
    cursor: pointer;
}
.signup-line{

    font-size: 1.4rem;
}
.signup-btn:hover{
    cursor: pointer;
}